
{% macro relatedContent() %}
  <div class='govuk-body'>
    <hr class="govubk-section-break govuk-section-break--visible section-break-heading govuk-!-margin-bottom-3 govuk-!-margin-top-0 mpdp-link-bg" role="presentation">
    <p class="govuk-!-font-size-24" id='relatedContent'><b>Related Content</b></p>
    <ul class="govuk-list mpdp-no-bullet">
      <li>
        <a class='govuk-link govuk-!-font-size-19' href='https://www.gov.uk/guidance/funding-for-farmers#contents' id='fflmLink'>Funding for farmers and land managers</a><br>
      </li>
      <li>
        <a class='govuk-link govuk-!-font-size-19' href='https://defrafarming.blog.gov.uk/sustainable-farming-incentive-pilot/' id='sf1Link'>Sustainable Farming Incentive pilot</a><br>
      </li>
      <li>
        <a class='govuk-link govuk-!-font-size-19' href='https://www.gov.uk/guidance/farming-investment-fund' id='fetfLink'>Farming Equipment and Technology Fund</a><br>
      </li>
      <li>
        <a class='govuk-link govuk-!-font-size-19' href='https://www.gov.uk/guidance/tree-health-pilot-scheme' id='thpLink'>Tree Health Pilot Scheme</a><br>
      </li>
    </ul>
  </div>
{% endmacro %}
