
{% macro searchFilterTags(model) %}
  <div class='govuk-body mpdp-display-grid'>
      {% for key, items in model.tags %}
        {% if items.length %}
          <div class='{% if loop.index % 2 != 0 %}mpdp-bg-color-light-grey{% endif %}'>
            <div class='mpdp-float-left govuk-!-margin-1 govuk-!-padding-1 govuk-!-font-weight-bold'>{{key}}</div>
            {% for item in items %}
              <div class='mpdp-display-inline-block'>
                {%if loop.first === false%}
                  <div class='mpdp-float-left govuk-!-margin-1 govuk-!-padding-1'><span>or</span></div>
                {%endif%} 
                <div class='mpdp-tag-filter-item mpdp-float-left mpdp-bg-color-light-grey govuk-!-margin-1'>
                  <div class='mpdp-tag-filter-cross govuk-!-margin-right-1 mpdp-display-inline' onMouseUp='const searchForm=document.getElementById("searchForm");searchForm.querySelectorAll("input[type=\"checkbox\"][value=\"{{item.value}}\"]")[0].checked=false;searchForm.submit()'>X</div>
                  <span>{{item.text}}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endmacro %}
