{% macro searchBox(model) %}
  <div class="govuk-form-group {% if model.errorMessage %}govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-!-font-weight-bold" for="{{model.name}}">{{model.label.text}}</label>
    {% if model.errorMessage %}
      <span id="error-message" class="govuk-error-message">{{model.errorMessage.text}}</span>
    {% endif %}
    <input class="govuk-input govuk-input--width-20"
      id="{{model.id}}"
      name="{{model.name}}"
      inputmode="{{model.inputmode}}"
      type="text"
      value="{{model.value}}"/>
    <button class="search-button" data-module="govuk-button"></button>
  </div>
{% endmacro %}
