{% from "./search-filters.njk" import searchFilters %}

{% macro searchForm(model) %}
<form id='searchForm' action="{{model.href}}" method="get">
  <div class="govuk-form-group {% if model.errorList %}govuk-form-group--error{% endif %}">
    {% for input in model.hiddenInputs %}
      <input type="hidden" id="{{input.id}}" name="{{input.name}}" value="{{input.value}}"/>
    {% endfor %}
    <label class="govuk-label {{'govuk-visually-hidden' if model.labelHTML === undefined}}" for="{{model.id}}">{{model.labelHTML|safe if model.labelHTML else 'Search'}}</label>
    <p class="{{'govuk-visually-hidden' if model.hintHTML === undefined}}">{{model.hintHTML|safe}}</p>
    {% if model.errorList %}
      <span id="error-message" class="govuk-error-message">{{model.errorMessage.text}}</span>
      <p id="search-input-error" class="govuk-error-message govuk-!-font-weight-regular">
        <span class="govuk-visually-hidden">Error:</span> {{model.errorList[0].text}}
      </p>
    {% endif %}
    <div class='form-inline'>
      <div class='container'>
        <input class="{{model.inputClass}} {% if model.errorList %}govuk-input--error{% endif %}"
          id="{{model.id}}"
          name="{{model.name}}"
          inputmode="{{model.inputmode}}"
          type="search"
          value="{{model.value}}"
          autocomplete="off"
          list=""
          {{ model.inputAttributes|safe }}/>
        <datalist id="suggestions" class='govuk-body mpdp-font-size-17'></datalist>
      </div>
      
      <button id='searchButton' class="govuk-button" data-module="govuk-button" type="submit" aria-label='{{model.buttonText}}'>{{model.buttonText}}</button>
    </div>
    {%if model.filters %}
      {{searchFilters(model)}}
    {% endif %}
  </div>
</form>
{% endmacro %}
