{% from "govuk/components/checkboxes/macro.njk"         import govukCheckboxes %}

{% macro searchFilters(model) %}
<div class="govuk-body" style="padding-top: 15px">
	<div style='height: 10px; margin-bottom: 25px;'>
		<div class="govuk-grid-column-one-half govuk-!-padding-left-0">
			<span>Filters</span>
		</div>
		<div class="govuk-grid-column-one-half govuk-!-padding-right-0">
			<button 
				id='clearAllFilters' 
				class='govuk-link mpdp-link-btn govuk-!-font-size-16 nojs-hidden' 
				style='padding-top: 4px !important; float:right;' 
				aria-live='polite'
				onClick='this.form.querySelectorAll("input[type=\"checkbox\"]").forEach(x => x.checked=false); this.form.submit();'>
					Clear all filters
				</button>
		</div>
	</div>
		
	<div style='margin: 15px;'>
		<details open>
		<summary>Scheme</summary>
		<div class="description">
			<div id='schemeSelected' class='govuk-!-font-size-14 govuk-!-margin-1 govuk-!-margin-left-4 nojs-hidden'>{{model.filters.selected.schemesLength}} Selected</div>
			{{ govukCheckboxes({
					name: "schemes",
					classes: "govuk-checkboxes--small",
					items: model.filters.schemes,
					attributes: {
						 "onchange": "this.form.submit()"
					}
				}) 
			}}
		</div>
		</details>
	</div>
	<hr class="govubk-section-break govuk-section-reak--visible section-break-heading--lightgray" role="presentation">
	<div style='margin: 15px;'>
		<details open>
		<summary>Amount</summary>
		<div class="description">
			<div id='amountSelected' class='govuk-!-font-size-14 govuk-!-margin-1 govuk-!-margin-left-4 nojs-hidden'>{{model.filters.selected.amountsLength}} Selected</div>
			{{ govukCheckboxes({
					name: "amounts",
					classes: "govuk-checkboxes--small",
					items: model.filters.amounts,
					attributes: {
						 "onchange": "this.form.submit()"
					}
				}) 
			}}
		</div>
		</details>
	</div>
	<hr class="govubk-section-break govuk-section-reak--visible section-break-heading--lightgray" role="presentation">
	<div style='margin: 15px;'>
		<details open>
		<summary>County</summary>
		<div class="description">
			<div id='countiesSelected' class='govuk-!-font-size-14 govuk-!-margin-1 govuk-!-margin-left-4 nojs-hidden'>{{model.filters.selected.countiesLength}} Selected</div>
			{{ govukCheckboxes({
					name: "counties",
					classes: "govuk-checkboxes--small",
					items: model.filters.counties,
					attributes: {
						 "onchange": "this.form.submit()"
					}
				}) 
			}}
		</div>
		</details>
	</div>
</div>
{% endmacro %}
