# Test output
html-reports
test-output

# npm stuff
.npm/
node_modules
npm-debug.log

# Misc
helm/**/*.lock
*.tgz
.env
*.log
app/data/downloads/ffc-payment-data.csv

# Editor stuff
.vscode
dist/

# Generated views
layout.njk

# OS stuff
.DS_Store
.idea/**
.idea/

lcov.info
coverage