{% extends './layouts/layout.njk' %}

{% from "./macros/search-box.njk"                       import searchBox %}
{% from "govuk/components/error-summary/macro.njk"      import govukErrorSummary %}

{% block content %}
{% if errorList %}
  {{govukErrorSummary ({
    "titleText": "There is a problem",
    "errorList": errorList,
    "classes": 'govuk-!-margin-bottom-7'
  }) }}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageTitle}}</h1>

    {{ searchBox({
      inputClass: 'govuk-input',
      id: 'searchInput',
      name: 'searchString',
      inputmode: 'string',
      buttonText: 'Search',
      href: '/results',
      errorList: errorList,
      pageId: 'index',
      labelText: "
        <p>Enter either a name or a location.</p>
        <p><span class='subtitle'>Example: Pine Grove Farm or Gloucestershire or GL55 </span></p>"
    }) }}

    <p>You can also <a id='downloadAllLink' href="/downloadall">download all scheme payment data (.CSV, 193KB)</a></p>
  </div>
</div>
{% endblock %}
