{% extends './layouts/layout.njk' %}

{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "./macros/related-content.njk"                   import relatedContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prose-scope">
    <h1>{{pageTitle}}</h1>

    <p>Check agricultural scheme payments to farmers and land managers in England</p>
    
    <p>You can search for payments from the:</p>
    <ul class='govuk-!-margin-left-4'>
      <li>Sustainable Farming Incentive pilot</li>
      <li>Farming Equipment and Technology Fund</li>
    </ul>

    <p>You can also <a id='viewYearlyTotals' href="/schemePaymentsByYear">view yearly totals.</a> for the:</p>
    <ul class='govuk-!-margin-left-4'>
      <li>Tree Health pilot</li>
      <li>Animal health and Welfare scheme</li>
      <li>Vet visits scheme</li>
    </ul>

    {{ govukInsetText({
      html: "This service shows payments by financial year (1 April to 31 March)."
    }) }}

   {{ govukDetails({
      summaryText: 'What data we publish',
      id: 'publishedData',
      html: "<p class='mpdp-font-size-17'>The data we publish varies for different schemes and depends on the total funding a business has received.</p>

      <p class='mpdp-font-size-17 govuk-!-font-weight-bold'>Schemes included</p>
      <ul class='mpdp-font-size-17 govuk-!-margin-left-4'>
        <li>Sustainable Farming Incentive</li>
        <li>Farming Equipment and Technology Fund</li>
      </ul>

      <p class='mpdp-font-size-17 govuk-!-font-weight-bold'>What we publish</p>

      <p class='mpdp-font-size-17'>When a business has received total agricultural scheme payments of £1,250 or more, we publish: </p>
      <ul class='mpdp-font-size-17 govuk-!-margin-left-4'>
        <li>full names of agreement holders and businesses</li>
        <li>partial postcodes, post towns and districts where the agreement holder is resident or located</li>
        <li>total payments received by the agreement holder in the last financial year</li>
        <li>a description of the activities financed by the relevant payments</li>
      </ul>

      <p class='mpdp-font-size-17 govuk-!-font-weight-bold'>Schemes published as a single yearly payment</p>

      <pclass='mpdp-font-size-17'>We also publish payment totals made through the:</p>
      <ul class='mpdp-font-size-17 govuk-!-margin-left-4'>
        <li>Tree Health pilot</li>
        <li>Animal health and Welfare scheme</li>
        <li>Vet visits scheme</li>
      </ul>
      
      <p class='mpdp-font-size-17 govuk-!-font-weight-bold'>How long we keep the data online</p>
      
      <p class='mpdp-font-size-17'>Payment data will remain online for 3 years from the date we publish it.</p>"
      
    }) }}

    {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-7",
      href: "/search",
      isStartButton: true,
      text: "Start now",
      attributes: {
        'aria-label': 'Start now'
      }
    }) }}

    <p class='govuk-!-margin-bottom-5'><b>More data is available</b></p>

    <p>You can <a id='downloadAllLink' href="/downloadall">download all scheme payment data (.CSV, 193KB)</a></p>

    <p><a id='capLink' href="https://cap-payments.defra.gov.uk/Default.aspx" target="_blank">Search the UK Co-ordinating Body service for other Common Agricultural Policy (CAP) schemes</a></p>

  </div>
  <div class="govuk-grid-column-one-third">
    {{relatedContent(relatedContentData)}}
  </div>
</div>
{% endblock %}
