{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Service Start Page</h1>

    <p>The most awesome service ever.</p>

    {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: "/search",
      isStartButton: true,
      text: "Start now"
    }) }}

  </div>
</div>
{% endblock %}
