{% from "./macros/related-content.njk" import relatedContent %}
{% extends './layouts/layout.njk' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: referer
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">Accessibility statement for Find Farm and Land Payment Data </h1>
      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak" data-govspeak-module-started="true">

        <p>This accessibility statement applies to this website.</p>

        <p>This website is run by the Department for Environment, Farming & Rural Affairs.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="how-accessible-this-website-is">How accessible this website is</h2>

        <p>We believe that this website is accessible. The “Scheme Payments by Year” page was not included in our last accessibility audit, but another one is being booked. </p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="Reporting-accessibility-problems">Reporting accessibility problems with this website</h2>

        <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: morgan.dirodi@defra.gov.uk</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="Enforcement-procedure">Enforcement procedure</h2>

        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, [contact the Equality Advisory and Support Service (EASS)](<a href="https://www.equalityadvisoryservice.com/" target="_blank">Equality Advisory and Support Service</a>). </p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="Technical-information">Technical information about this website’s accessibility</h2>

        <p>DEFRA is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="Compliance-status">Compliance statusy</h2>

        <p>This website is partially compliant with the [Web Content Accessibility Guidelines version 2.1](<a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines (WCAG) 2.1</a>) AA standard, due to the possible non-compliance listed below.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="Non-compliance-with-the-accessibility-regulations">Non-compliance with the accessibility regulations</h2>

        <p>The “Scheme Payments by Year” page was not included in our previous accessibility audit from December 2022. We are in the process of getting another audit done to check that page. Therefore, we cannot declare that the page is accessible.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="What-we’re-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>

        <p>Another 3<sup data-renderer-mark="true">rd</sup> party accessibility audit is being booked to test the page on the site that has not yet been audited as mentioned above.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="Preparation-of-this-accessibility-statement">Preparation of this accessibility statement</h2>

        <p>This statement was prepared on 17/11/23.</p>
        <p>It was last reviewed on 17/11/23.</p>
        <p>This website was last tested on 5<sup data-renderer-mark="true">th</sup> December 2022.</p>

        <p>The test was carried out by the Digital Accessibility Centre.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {{relatedContent(relatedContentData)}}
    </div>
  </div>
  {{ govukBackLink({
    text: "Back",
    href: referer
  }) }}
{% endblock %}