{% from "./macros/related-content.njk" import relatedContent %}
{% extends './layouts/layout.njk' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: referer
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="gem-c-title__text govuk-heading-xl">Accessibility</h1>
      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak" data-govspeak-module-started="true">

        <p>This statement applies to content published on the www.gov.uk domain. It does not apply to content on service.gov.uk subdomains (for example, www.registertovote.service.gov.uk).</p>

        <p>This website is run by the Government Digital Service. It is designed to be used by as many people as possible. The text should be clear and simple to understand. You should be able to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>zoom in up to 300% without problems</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="how-accessible-this-website-is">How accessible this website is</h2>

        <p>Parts of this website are not fully accessible. For example:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>some pages and document attachments are not written in plain English</li>
          <li>some tables do not have row headings</li>
          <li>some documents have poor colour contrast</li>
          <li>some heading elements are not consistent</li>
          <li>some images do not have image descriptions</li>
          <li>some buttons are not correctly identified</li>
          <li>some error messages are not clearly associated with form controls</li>
          <li>many documents are in <abbr title="Portable Document Format">PDF</abbr> format and are not accessible</li>
        </ul>

        <p>Each department and agency which publishes content on GOV.UK is responsible for making sure it meets the accessibility regulations. We will update the statement when issues are fixed or when we expect them to be fixed.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="feedback-and-contact-information">Feedback and contact information</h2>

        <p><a href="https://www.gov.uk/contact/govuk">Tell us if you need information in a different format</a>.</p>

        <p>In your message, include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the web address (URL) of the content</li>
          <li>your email address and name</li>
          <li>the format you need - for example, plain text, braille, <abbr title="British Sign Language">BSL</abbr>, large print or audio CD</li>
        </ul>

        <p>You can request a <abbr title="Portable Document Format">PDF</abbr> in an accessible format from its page. Click ‘Request an accessible format’ to contact the organisation that published the document.</p>

        <p>You can also view the organisation’s <a href="https://www.gov.uk/search/all?parent=&amp;keywords=%22accessible+document+policy%22&amp;level_one_taxon=a544d48b-1e9e-47fb-b427-7a987c658c14&amp;level_two_taxon=&amp;manual=&amp;public_timestamp%5Bfrom%5D=&amp;public_timestamp%5Bto%5D=&amp;topical_events=&amp;order=relevance">accessible document policy</a> to report any problems or request documents in an alternative format.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h2>

        <p>If you find any problems that are not listed on this page or you think we’re not meeting the accessibility requirements, <a href="https://www.gov.uk/contact/govuk">contact us</a>.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="enforcement-procedure">Enforcement procedure</h2>

        <p>If you contact us with a complaint and you’re not happy with our response <a rel="external" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (<abbr title="Equality Advisory and Support Service">EASS</abbr>)</a>.</p>

        <p>The Equality and Human Rights Commission (<abbr title="Equality and Human Rights Commission">EHRC</abbr>) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>

        <p>The Government Digital Service is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="compliance-status">Compliance status</h2>

        <p>This website is partially compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="non-accessible-content">Non-accessible content</h2>

        <p>The content listed below is non-accessible for the following reasons.</p>

        <h3 class="govuk-heading-m govuk-!-font-size-19" id="non-compliance-with-the-accessibility-regulations">Non-compliance with the accessibility regulations</h3>

        <ol class="govuk-list govuk-list--number">
          <li>Some tables in content do not have table row headers when needed. This means assistive technologies will not read the tables correctly. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 1.3.1 (Info and Relationships).</li>
          <li>Images on some pages do not always have suitable image descriptions. Users of assistive technologies may not have access to information conveyed in images. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 1.1.1 (Non-text Content).</li>
          <li>Some pages have duplicate titles. This may make it difficult for users to orient themselves and find the right content. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.4.2 success criterion (Page Titled).</li>
          <li>The change in the default written language is not correctly identified on some pages. This means screen readers will not read content correctly. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 3.1.2 (Language of Parts).</li>
          <li>Translation Navigation is inconsistently named. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 3.2.4 (Consistent Identification).</li>
          <li>Some pages cannot be found through more than one type of navigation. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 2.4.5 (Multiple Ways).</li>
          <li>Some pages have inconsistently-placed language navigation. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 3.2.4 success criterion (Consistent Identification).</li>
          <li>Some content looks like headings but is not. This makes it difficult for screen reader users to navigate the page. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 1.3.1 (Info and Relationships).</li>
          <li>Some pages have poor colour contrast. This fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 1.4.1 (Use of Colour).</li>
          <li>Many documents are in less accessible formats, for example <abbr title="Portable Document Format">PDF</abbr>. Non-HTML documents published on or after 23 September 2018 must have an accessible format.</li>
        </ol>

        <h4 class="govuk-heading-m govuk-!-font-size-19" id="pdfs-and-non-html-documents">PDFs and non-HTML documents</h4>

        <p>Many documents are not accessible in a number of ways including missing text alternatives and missing document structure.</p>

        <p>View the <a href="https://www.gov.uk/search/all?parent=&amp;keywords=%22accessible+document+policy%22&amp;level_one_taxon=a544d48b-1e9e-47fb-b427-7a987c658c14&amp;level_two_taxon=&amp;manual=&amp;public_timestamp%5Bfrom%5D=&amp;public_timestamp%5Bto%5D=&amp;topical_events=&amp;order=relevance">accessible document policy</a> of the organisation that published the document to report any problems or request documents in an alternative format. If more than one organisation is listed, view the accessible document policy of the first.</p>

        <h3 class="govuk-heading-m govuk-!-font-size-19" id="disproportionate-burden">Disproportionate burden</h3>

        <p>We believe that fixing the accessibility problems with some content would be disproportionate because the relevant platform will be retired soon.</p>

        <h4 class="govuk-heading-m govuk-!-font-size-19" id="applying-for-licences">Applying for licences</h4>

        <p>Some of the content used to apply for some types of licence is non-accessible. For example, <a href="https://www.gov.uk/temporary-events-notice">applying for a Temporary Events Notice</a>:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>adjacent links to the same pages mean it’s not easy to navigate using keyboard alone - this fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 2.1.1 (Keyboard)</li>
          <li>some forms controls are not detectable by screen reader software - this fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 4.1.2 (Name, Role, Value)</li>
          <li>some pages are missing a heading - this fails <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 success criterion 1.3.1 (Info and Relationships)</li>
        </ul>

        <p>The non-accessible content used to apply for some types of licence is published through platforms which we are transitioning to new arrangements. We believe that fixing the problems causing content to be non-accessible on the old platforms would be disproportionate.</p>

        <h3 class="govuk-heading-m govuk-!-font-size-19" id="content-thats-not-within-the-scope-of-the-accessibility-regulations">Content that’s not within the scope of the accessibility regulations</h3>

        <p>Non-HTML documents published before September 2018 do not need to be accessible - unless users need them to use a service.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="how-we-tested-this-website">How we tested this website</h2>

        <p>We use the Web Content Accessibility Guidelines V2.1 level A and level AA to test how accessible GOV.UK is.</p>

        <p>We used the Website Accessibility Conformance Evaluation Methodology (<abbr title="Web Content Accessibility Guidelines">WCAG</abbr>-EM) approach to decide on a sample of pages to test.</p>

        <p>We also tested a sample of pages involved in applying for licences.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>

        <p>Departments and agencies are urgently fixing content which fails to meet the Web Content Accessibility Guidelines version 2.1 AA standard. We will update this page when issues are fixed.</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27" id="preparation-of-this-accessibility-statement">Preparation of this accessibility statement</h2>

        <div role="note" aria-label="Information" class="govuk-inset-text application-notice info-notice">
          <p>This statement was prepared on 23 September 2022. It was last reviewed on 23 September 2022.</p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {{relatedContent(relatedContentData)}}
    </div>
  </div>
  {{ govukBackLink({
    text: "Back",
    href: referer
  }) }}
{% endblock %}