$govuk-assets-path: "~govuk-frontend/govuk/assets/";
$govuk-global-styles: true; // https://frontend.design-system.service.gov.uk/sass-api-reference/#global-styles
@import "~govuk-frontend/govuk/all";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.govuk-prose-scope {

  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-l;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}

.govuk-input {
  @include govuk-media-query($from: mobile) {
    width: 100%;
  }
}

.subtitle {
  color: $govuk-secondary-text-colour;
}

.section-break-heading {
  height: 2px;
  border-width: 0;
  background-color: gray
}

.section-break-heading--lightgray {
  @extend .section-break-heading;
  background-color: lightgray;
  
}

.search-results-amount {
  margin: govuk-spacing(2) govuk-spacing(7);
  color: black;
  float: right;
}

.grid-column-two-one {
  display: grid; 
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}

.grid-column-three-one {
  display: grid; 
  grid-template-columns: 3fr 1fr;
  column-gap: 5px;
}

.mpdp-panel {
  background-color: $govuk-brand-colour;
  padding: 35px;
}

#toggleButton {
  margin: 0 1px 8px auto;
  font: inherit;
}

button.mpdp-link-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.mpdp-text-color-white {
  color: govuk-colour("white");
}

.mpdp-text-color-light-grey {
  color: govuk-colour("light-grey");
}

.mpdp-text-color-dark-grey {
  color: govuk-colour("dark-grey");
}

.mpdp-bg-color-light-grey {
  background-color: govuk-colour("light-grey");
}

.mpdp-border-color-light-grey {
  border-color: govuk-colour("light-grey");
}

.mpdp-margin-top-negative-3 {
  margin-top: govuk-spacing(-3);
}

.mpdp-text-align-right {
  text-align: right;
}

.mpdp-text-underline {
  text-decoration: underline;
}

.mpdp-details-summary {
  line-height: 1.5;
  font-size: 15px
}

.mpdp-list-marker-small {
  font-size: 0.85rem
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.form-inline {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  z-index: 1;
}

.form-inline button {
  width: auto;
  box-shadow: none;
  height: 40px;
  margin-bottom: govuk-spacing(0) !important;
}

@media (max-width: 640px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.mpdp-overflow-wrap {
  overflow-wrap: anywhere;
}

.mpdp-link-bg {
  background-color: govuk-colour("blue");
}

.mpdp-no-bullet {
  list-style-type: none !important;
}
