{% extends './layouts/layout.njk' %}

{% block content %}
  <div id="_{{ payload.statusCode }}" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ payload.statusCode }} - {{ payload.error }}</h1>
      <p>{{ payload.message }}</p>
    </div>
  </div>
  <div>
    <p><a href="/">Go back home</a></p>
  </div>
{% endblock %}
