{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/footer/macro.njk"              import govukFooter %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block pageTitle %}{{ serviceName }} - GOV.UK{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <% htmlWebpackPlugin.files.css.forEach(file => { %>
    <link href="<%= file %>" rel="stylesheet">
  <% }) %>
  <!--<![endif]-->
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
  <div class="govuk-grid-row govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service'
    }) }}
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacynotice",
          text: "Privacy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <% htmlWebpackPlugin.files.js.forEach(file => { %>
    <% if (file.includes('assets.')) { %>
      <script src="<%= file %>"></script>
    <% } %>
  <% }) %>
{% endblock %}
