{% extends './layouts/layout.njk' %}

{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}

{% block beforeContent %}
  <a id='detailsBackLink' href="/results?searchString={{ searchString }}&page={{ page }}" class="govuk-back-link">Back to results</a>
{% endblock %}

{% set mainClasses = "govuk-!-padding-top-2 govuk-!-padding-left-1" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{summary.payee_name}}</h1>
    <p>Business location: {{summary.town}}, {{summary.county_council}}, {{summary.parliamentary_constituency}}, {{ summary.part_postcode }} </p>

    {{ govukInsetText({
      text: "The business location may not match the location of the land itself."
    }) }}

    <div>
      <div class='mpdp-panel'>
        <div class="grid-column-two-one">
          <div> 
            <h2 class="govuk-heading-m mpdp-text-color-white">Payments to date</h2>
            <p class='govuk-body govuk-!-font-size-16 mpdp-margin-top-negative-3 mpdp-text-color-white' >From April {{summary.startYear}} to March {{summary.endYear}}</p>
          </div>
          <div> 
            <h2 class="govuk-heading-m mpdp-text-color-white mpdp-text-align-right">£{{ summary.total }}</h2>
          </div>
        </div>
        <div>
          <ul class='govuk-list govuk-list--bullet govuk-!-padding-left-6 govuk-!-margin-0 mpdp-text-color-white'>
            {% for scheme in summary.schemes %}
              <li><div class="grid-column-three-one"><div>{{scheme.name}}</div> <div class='mpdp-text-align-right'>£{{scheme.total}}</div></div></li>
            {% endfor %}  
          </ul>
        </div>
      </div>

      <div class='govuk-!-margin-top-7'>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Payment summary</h2>
        <p>See a breakdown of the payments for each scheme.</p>

        <details class="description govuk-body govuk-!-font-size-16" open>
          <summary data-open="Hide details" data-close="Show details"></summary>
          <div class="grid-column-three-one govuk-!-padding-2 govuk-!-padding-left-3 mpdp-bg-color-light-grey">
            <p class='govuk-body govuk-!-font-weight-bold govuk-!-margin-0'>1 April {{summary.startYear}} to 31 March {{summary.endYear}}</p>
            <p class='govuk-body govuk-!-font-weight-bold govuk-!-margin-0 mpdp-text-align-right'>£{{summary.total}}</p>
          </div>

           {% for scheme in summary.schemes %}
              <div class='govuk-!-margin-3 mpdp-text-color-dark-grey'>
                <div class="grid-column-three-one govuk-body-m govuk-!-margin-bottom-1"><div>{{scheme.name}}</div> <div class='mpdp-text-align-right'>£{{scheme.total}}</div></div>
                <div class="grid-column-three-one"><div class='mpdp-details-summary'>{{scheme.description}}</div><div></div></div>

                <p class='govuk-caption-s govuk-!-margin-top-3 govuk-!-margin-bottom-1 mpdp-text-color-dark-grey mpdp-details-summary'>Payments for:</p>
                <ul class='govuk-list govuk-list--bullet govuk-!-padding-left-6 govuk-!-margin-0 govuk-caption-s mpdp-text-color-dark-grey'>
                  {% for schemeType in scheme.schemeTypes %}
                    <li class='mpdp-list-marker-small'><div class="grid-column-three-one mpdp-details-summary"><div>{{schemeType.name}} {%if schemeType.activityLevel %} ({{schemeType.activityLevel}} level) {% endif %}</div> <div class='mpdp-text-align-right'>£{{schemeType.amount}}</div></div></li>
                    {% if not loop.last %}
                      <hr class="govuk-section-break govuk-section-break--visible mpdp-border-color-light-grey">
                    {% endif %}
                  {% endfor %}  
                </ul>
                <p class='govuk-!-margin-top-4 mpdp-details-summary'><a href='{{scheme.link}}' target='_blank'>Read more about the {{scheme.name}} </a></p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              </div>
              
            {% endfor %}  
        </details>
      </div>

      {{ govukDetails({
      summaryText: 'Report a problem',
      id: 'reportProblem',
      html: "<p>If you're the agreement holder for this business, you can contact the Rural Payments Agency.</p>

      <div>
      Email: <a href='mailto:ruralpayments@defra.gov.uk'>ruralpayments@defra.gov.uk</a><br>
      Telephone: 03000 200 301<br>
      Monday to Friday, 9am to 5pm<br>
      <a id='callCharges' href='https://www.gov.uk/call-charges'>Find out more about call charges</a>
      </div>
      <br>
      <p>Sustainable Farming Incentive pilot <a id='sfiQueryForm' href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1088945/SFI-query-form.pdf'>query form</a></p>"
    }) }}
    </div>
  </div>
</div>
{% endblock %}
